@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đăng ký";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Hãy xác nhận email.
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

